USE [master]
GO
/****** Object:  Database [football]    Script Date: 3.4.2025 г. 10:25:30 ******/
CREATE DATABASE [football]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'football', FILENAME = N'C:\Users\Teacher_New\football.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'football_log', FILENAME = N'C:\Users\Teacher_New\football_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [football].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [football]
GO
/****** Object:  Table [dbo].[coaches]    Script Date: 3.4.2025 г. 10:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coaches](
	[id] [int] NOT NULL,
	[name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[leagues]    Script Date: 3.4.2025 г. 10:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[leagues](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nationality]    Script Date: 3.4.2025 г. 10:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nationality](
	[id] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[best_player] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[player_teams]    Script Date: 3.4.2025 г. 10:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[player_teams](
	[id] [int] NOT NULL,
	[players_id] [int] NOT NULL,
	[team_id] [int] NOT NULL,
	[salary] [int] NOT NULL,
	[months_active] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[players]    Script Date: 3.4.2025 г. 10:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[players](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[team_id] [int] NOT NULL,
	[nationality_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teams]    Script Date: 3.4.2025 г. 10:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teams](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[league_id] [int] NULL,
	[coaches_id] [int] NULL,
	[trophies] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[coaches] ([id], [name]) VALUES (1, N'Pep Guardiola')
INSERT [dbo].[coaches] ([id], [name]) VALUES (2, N'Zinedine Zidane')
INSERT [dbo].[coaches] ([id], [name]) VALUES (3, N'Antonio Conte')
GO
INSERT [dbo].[leagues] ([id], [name]) VALUES (1, N'Premier League')
INSERT [dbo].[leagues] ([id], [name]) VALUES (2, N'La Liga')
INSERT [dbo].[leagues] ([id], [name]) VALUES (3, N'Serie A')
GO
INSERT [dbo].[nationality] ([id], [name], [best_player]) VALUES (1, N'England', 23)
INSERT [dbo].[nationality] ([id], [name], [best_player]) VALUES (2, N'Spain', 28)
INSERT [dbo].[nationality] ([id], [name], [best_player]) VALUES (3, N'Italy', 3)
GO
INSERT [dbo].[player_teams] ([id], [players_id], [team_id], [salary], [months_active]) VALUES (1, 1, 2, 250000, 60)
INSERT [dbo].[player_teams] ([id], [players_id], [team_id], [salary], [months_active]) VALUES (2, 1, 1, 200000, 36)
INSERT [dbo].[player_teams] ([id], [players_id], [team_id], [salary], [months_active]) VALUES (3, 2, 2, 300000, 120)
GO
INSERT [dbo].[players] ([id], [name], [team_id], [nationality_id]) VALUES (1, N'Kevin De Bruyne', 1, 1)
INSERT [dbo].[players] ([id], [name], [team_id], [nationality_id]) VALUES (2, N'Karim Benzema', 2, 2)
INSERT [dbo].[players] ([id], [name], [team_id], [nationality_id]) VALUES (3, N'Lautaro Martinez', 3, 3)
GO
INSERT [dbo].[teams] ([id], [name], [league_id], [coaches_id], [trophies]) VALUES (1, N'Manchester City', 1, 1, 10)
INSERT [dbo].[teams] ([id], [name], [league_id], [coaches_id], [trophies]) VALUES (2, N'Real Madrid', 2, 2, 20)
INSERT [dbo].[teams] ([id], [name], [league_id], [coaches_id], [trophies]) VALUES (3, N'Inter Milan', 3, 3, 15)
GO
ALTER TABLE [dbo].[player_teams]  WITH CHECK ADD FOREIGN KEY([players_id])
REFERENCES [dbo].[players] ([id])
GO
ALTER TABLE [dbo].[player_teams]  WITH CHECK ADD FOREIGN KEY([team_id])
REFERENCES [dbo].[teams] ([id])
GO
ALTER TABLE [dbo].[players]  WITH CHECK ADD FOREIGN KEY([nationality_id])
REFERENCES [dbo].[nationality] ([id])
GO
ALTER TABLE [dbo].[players]  WITH CHECK ADD FOREIGN KEY([team_id])
REFERENCES [dbo].[teams] ([id])
GO
ALTER TABLE [dbo].[teams]  WITH CHECK ADD FOREIGN KEY([coaches_id])
REFERENCES [dbo].[coaches] ([id])
GO
ALTER TABLE [dbo].[teams]  WITH CHECK ADD FOREIGN KEY([league_id])
REFERENCES [dbo].[leagues] ([id])
GO
USE [master]
GO
